@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
.row-color {
    background: blue;
    color: black;
}

.class-color {
    color: white;
}